<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive panel-body widget-main padding-0">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <button class="btn btn-white">
                                <i class="icon-plus-sign purple align-top bigger-125"></i> 人员角色</button>
                        </div>
                    </div>
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered tab-th">
                    <thead>
                    <tr>
                        <th></th>
                        <th align="center">机构角色</th>
                        <th align="center">岗位角色</th>
                        <th align="center">群组角色</th>
                        <th align="center">人员角色</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            <button class="btn btn-xs btn-success">
                                <i class="icon-ok bigger-120"></i>																								</button>																							</td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center"></td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center"></td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center">角色1</td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            <button class="btn btn-xs">
                                <i class="icon-ok bigger-120"></i>																			</button>																		</td>
                        <td align="center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>