<div class="visible-md visible-lg action-buttons">
    <a class="light-grey"  {{action "openPopup" 'confirm' target ='targetObject'}}>
        <i class="fa fa-trash-o bigger-120"></i>
    </a>
</div>
