<div class="visible-md visible-lg action-buttons">
    <a class="ember-view light-grey"  {{action "detail" view.row.content target="targetObject"}}>
        <i class="fa fa-search-plus bigger-120"></i>
    </a>
    <a class="light-grey"  {{action "openPopup" 'confirm' target ='targetObject'}}>
        <i class="fa fa-trash-o bigger-120"></i>
    </a>
</div>
