<div id="sample-table-2_length" class="dataTables_length">
    <label><{{input placeholder="搜索..." action="search"}}</label>
</div>
{{ember-table
hasFooter=false
height=300
enableContentSelection=true
selectionMode="multiple"
columns=columns
content=content
persistedSelection=controller.selection
}}
{{page-numbers content=content}}
