<div class="visible-md visible-lg action-buttons">
    <a class="ember-view light-grey"  {{action "deital" view.row.content target="origContext"}}>
        <i class="fa fa-search-plus bigger-120"></i>
    </a>
    <a class="light-grey"  {{action "openModal" 'confirm' view.row.content target="origContext"}}>
        <i class="fa fa-trash-o bigger-120"></i>
    </a>
</div>
