<div class="sidebar">
    <div class="sidebar-shortcuts">
        <span class="inline">ELEMENTS</span>
    </div>
    <!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        {{#each item in target.sidebarRoutes}}
            <li>
                <a class="dropdown-toggle">
                    <i {{bind-attr class=":fa item.icon"}}></i>
                    <span class="menu-text">{{unbound item.name}}</span>
                    <b class="arrow fa fa-caret-up"></b>
                </a>
                <ul class="submenu">
                  {{#each sub in item.children}}
                    {{#link-to sub.template tagName='li'}}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-double-angle-right"></i>
                            {{unbound sub.name}}
                        </a>
                    {{/link-to}}
                  {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
    <!-- /.nav-list -->

    <div class="sidebar-collapse">
        <i class="icon-double-angle-left"></i>
    </div>
</div>
