<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <i class="bigger-110 icon-angle-down" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                    已分配机构															</a>																</h4>
        </div>

        <div class="panel-collapse in" id="collapseOne" style="height: auto;">
            <div class="panel-body widget-main padding-0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive panel-body" style="padding:0px; margin-top:-1px;">
                            <div class="dataTables_wrapper">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="sample-table-2_length" class="dataTables_length">
                                            <label><input type="text" aria-controls="sample-table-2" placeholder="搜索 ..."></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_filter" id="sample-table-2_filter">
                                            <div class="dataTables_filter" id="sample-table-2_filter">
                                                <button {{action 'openPopup' 'list' modelType}} class="btn btn-white" data-toggle="modal" data-target="#myModal">
                                                    <i class="icon-plus-sign purple align-top bigger-125"></i>
                                                    添加																						</button>
                                                <button class="btn btn-white">
                                                    <i class="icon-trash red align-top bigger-125"></i>
                                                    批量删除																						</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              {{ember-table
                              hasFooter=false
                              enableContentSelection=true
                              selectionMode="multiple"
                              columns=columns
                              content=content
                              }}
                              {{page-numbers content=content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
