{{#if view.isEditing}}
  {{view view.innerSelect
  content=controller.targetObject.relations
  optionValuePath="content.key"
  optionLabelPath="content.value"
  }}
{{else}}
    <span class='content'>{{view.cellContent}}</span>
{{/if}}
